.heading_size_support-description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  /* identical to box height, or 41px */
}

@media screen and (max-width: 1439px) {
  .heading_size_support-description {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .heading_size_support-description {
    font-size: 18px;
  }
}