.heading_size_main-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
/* identical to box height, or 26px */
}

@media screen and (max-width: 1439px) {
  .heading_size_main-text {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .heading_size_main-text {
    font-size: 26px;
  }
}