.heading_size_h5 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding: 0;
  margin: 0;
  /* identical to box height, or 29px */
}

@media screen and (max-width: 1439px) {
  .heading_size_h5 {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .heading_size_h5 {
    font-size: 16px;
  }
}