.support__donations {
  width: 691x;
  margin: 16px auto 16px auto;
  flex-wrap: wrap;
  border: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 5px;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .support__donations {
    width: 644px;
    display: flex;
    column-gap: 16px;
    margin-top: 24px;
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  .support__donations {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 265px;
    row-gap: 16px;
    margin: 20px auto 16px auto;
  }
}