.support__donations {
  width: 651px;
  margin: 16px auto 16px auto;
  display: flex;
  column-gap: 5px;
  row-gap: 12px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
  .support__donations {
    width: 628px;
    column-gap: 16px;
    margin-top: 24px;
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  .support__donations {
    width: 260px;
    row-gap: 16px;
    margin: 20px auto 16px auto;
  }
}