.description {
  position: relative;
  padding: 0;
  width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 51px;
}

@media screen and (max-width: 1439px) {
  .description {
    width: 688px;
  }
}

@media screen and (max-width: 767px) {
  .description {
    width: 304px;
  }
}