.description__picture {
  z-index: 1;
  max-width: 352px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  position: relative;
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1439px) {
  .description__picture {
    max-width: 184px;
  }
}

@media screen and (max-width: 767px) {
  .description__picture {
    max-width: 190px;
  }
}
