.page {
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  background-color: #ffffff;
  color:  #000000;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
