.direction__card-text {
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
}

@media all and (max-width: 768px) {
    .direction__card-text {
        margin-top: 10px;
        font-size: 16px;
        line-height: 120%;
    }
}

@media all and (max-width: 500px) {
  .direction__card-text {
      font-size: 14px;
  }
}
