.numbers {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

@media all and (max-width: 767px) {
  .numbers {
    padding-left: 10px;
    padding-right: 10px;
  }
}