.numbers {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1439px) {
  .numbers {
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .numbers {
    padding: 64px 10px 0;
  }
}


