.news__date {
  margin: 30px auto 0 0;
  color: rgba(38, 38, 38, 0.5);
  padding-top: 30px;
}

@media all and (max-width: 900px) {
  .news__date {
    margin-top: 20px;

  }
}

@media all and (max-width: 767px) {
  .news__date {
    
  }
}