.numbers__title {
  margin: 0;
  padding: 0 0 50px 0;
}

@media screen and (max-width: 1439px) {
  .numbers__title {
    padding: 0 0 32px 0;
  }
}

@media screen and (max-width: 767px) {
  .numbers__title {
    padding: 0 0 24px 0;
  }
}
