.support {
  width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: #E7F0FF;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .support {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .support {
    width: 320px;
  }
}