.direction__card-description {
  margin: 30px 0 0 0;
  padding: 0;
  height: 220px;
}

@media all and (max-width: 768px) {
  .direction__card-description {
    height: 175px;
  }
}

@media all and (max-width: 500px) {
  .direction__card-description {
    margin-top: 0;
    height: 139px;
  }
}
