.donations__sum {
  display: flex;

  margin-left: 30px;
  min-width: 1007px;
  gap: 40px;

}

@media screen and (max-width: 1439px) {
  .donations__sum {
    gap: 10px;
    min-width: 475px;
    margin-left: 24px;
    margin-right: 0;

  }
}

@media screen and (max-width: 767px) {
  .donations__sum {
    min-width: 260px;
    margin: 0 20px;
    gap: 16px;
    flex-wrap: wrap;
  }
}