.stories__audio-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1439px) {
  .stories__audio-text {
    font-size: 16px;
    line-height: 120%;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .stories__audio-text {
    font-weight: 500;
    font-size: 12px;
  }
}