.support__payment-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.support__payment-box:checked + .support__payment {
  border: 1px solid #0C4BA0;
}