.description__characteristic {
  max-width: 543px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 20px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .description__characteristic {
    max-width: 401px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .description__characteristic {
    max-width: 294px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 16px;
  }
}
