.project-card__button {
  margin: 0;
  padding: 0;
  height: 48px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  cursor: pointer;
  min-height: 44px;
  min-width: 194px;
  border: 1px solid #333333;
}

@media screen and (max-width: 1439px) {
  .project-card__button {
    font-size: 16px;
    min-height: 44px;
    min-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .project-card__button {
    font-size: 14px;
    margin: 0 auto;
    min-height: 44px;
    min-width: 250px;
  }
}