.description__slider {
  width: 100%;
  padding: 0;
  min-height: 565px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .description__slider {
    min-height: 286px;
  }
}

@media screen and (max-width: 767px) {
  .description__slider {
    min-height: 486px;
  }
}