.direction__cards-box {
    list-style-type: none;
    padding: 50px 0 0 0;
    max-width: 1360px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 990px) {
    .direction__cards-box {
        grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
        gap: 19px;
    }
}

@media all and (max-width: 768px) {
    .direction__cards-box {
      max-width: 689px;
        padding-top: 32px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media all and (max-width: 500px) {
  .direction__cards-box {
      padding-top: 24px;
      gap: 16px;
  }
}
