.work__title {
    margin: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #333333;
    letter-spacing: -0.01em;
}

@media all and (max-width: 780px) {
    .work__title {
        margin: 0 auto;
        max-width: 420px;
        font-size: 36px;
    }
}

@media all and (max-width: 500px) {
    .work__title {
        max-width: 300px;
        font-size: 26px;
    }
}