.work__title {
    margin: 0;
}

@media all and (max-width: 780px) {
    .work__title {
        margin: 0 auto;
        max-width: 420px;
    }
}

@media all and (max-width: 500px) {
    .work__title {
        max-width: 300px;
    }
}