.footer__contacts {
  margin: 0;
  padding: 0 0 58px 0;
  display: grid;
  grid-template-columns: 151px 313px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "phone-1 adress"
    "phone-2 adress";
  gap: 0 53px;
}

@media all and (max-width: 900px) {
  .footer__contacts {
    padding-bottom: 34px;
    grid-template-columns: 311px;
    grid-template-rows: 17px 17px 34px;
    grid-template-areas:
      "phone-1"
      "phone-2"
      "adress";
    gap: 16px 0;
  }
}

@media all and (max-width: 767px) {
  .footer__contacts {
    padding-bottom: 24px;
    grid-template-columns: 102px 1fr;
    grid-template-rows: 14px 28px;
    grid-template-areas:
      "phone-1 phone-2"
      "adress adress";
    gap: 10px 16px;
  }
}