.podrobnee {
  width: 165px;
  background-color: #E7F0FF;
  color: #0C4BA0;
  height: 48px;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.podrobnee:hover {
  transition-duration: 1s;
  background-color: #0C4BA0;
  color: #ffffff;
}

.podrobnee:active {
  transition-duration: 1s;
  background-color: #00275C;
  color: #ffffff;
}

.podrobnee:disabled {
  transition-duration: 1s;
  opacity: 1;
  background-color: #C4C4C4;
  color: rgba(38, 38, 38, 0.5);;
}
