.support__subtitle {
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding: 0;
  margin: 0;
  /* identical to box height, or 29px */
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.support__subtitle::before,
.support__subtitle::after {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 100%;
  border-bottom: 1px solid #DADADA;
}

.support__subtitle::after {
  margin-right: -100%;
  right: -10px;
}

.support__subtitle::before {
  margin-left: -100%;
  left: -10px;
}


@media screen and (max-width: 1439px) {
  .support__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .support__subtitle {
    font-size: 16px;
  }
}
