.header__button-text{
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;

}

@media screen and (max-width: 1439px) {
  .header__button-text {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .header__button-text {
    display: none;
  }
}

