.support__donate {
  padding: 0;
  width: 488px;
  margin-top: 38px;
}

@media screen and (max-width: 1439px) {
  .support__donate {
    max-width: 531px;
    margin-left: 136px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .support__donate {
    max-width: 300px;
    margin: 0 auto;
  }
}