.button_type_slider-left {
  border: none;
  width: 35px;
  height: 35px;
  background: url(../../../images/slide-left.svg) no-repeat center;
  background-color: #333333;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  left: 641px;
}
.button_type_slider-left:hover {
  background-color: #0c4ba0;
}
.button_type_slider-left:active {
  background-color: #00275c;
}
@media screen and (max-width: 1439px) {
  .button_type_slider-left {
    width: 24px;
    height: 24px;
    background-size: 7px 7px;
    border-radius: 6px;
    left: 316px;
  }
}
@media screen and (max-width: 767px) {
  .button_type_slider-left {
    left: 220px;
    bottom: 468px;
  }
}