.accordion__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #e7f0ff;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  stroke: #0c4ba0;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion__button:hover {
  background-color: #0c4ba0;
}

.accordion__button:hover .accordion__button-img {
  stroke: white;
}

.accordion__button:disabled {
  cursor: auto;
  background-color: #c4c4c4;
}
.accordion__button:disabled .accordion__button-img {
  stroke: #262626;
}

@media screen and (max-width: 1439px) {
  .accordion__button {
    width: 32px;
    height: 32px;
  }
}