.stories__story-img {
  border-radius: 50%;
  max-width: 224px;
}

@media (max-width: 1439px) {
  .stories__story-img {
    max-width: 120px;
  }
}

@media (max-width: 767px) {
  .stories__story-img {
    max-width: 80px;
  }
}