.rounding_to-fifteen {
    border-radius: 30px;
}

@media all and (max-width: 900px) {
    .rounding_to-fifteen {
        border-radius: 20px;

    }
}

@media all and (max-width: 767px) {
    .rounding_to-fifteen {
        border-radius: 15px;
    }
}