.numbers__img {
  background: url(../../../images/numbers-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 555px;
  height: 368px;
  border-radius: 30px;
}

@media screen and (max-width: 1439px) {
  .numbers__img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .numbers__img {
    display: block;
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }
}