.support__choice_width_middle {
  min-width: 159px;
}

@media screen and (max-width: 1439px) {
  .support__choice_width_middle {
    min-width: 190px;
  }
}


@media screen and (max-width: 767px) {
  .support__choice_width_middle {
    min-width: 260px;
  }
}