.support__mini-container {
  width: 652px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 23px auto;
  border: none;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .support__mini-container {
    width: 628px;
    column-gap: 16px;
    margin-bottom: 32px;
  }
}


@media screen and (max-width: 767px) {
  .support__mini-container {
    width: 260px;
    margin-top: 32px;
  }
}