.work__card-description {
    margin: 0;
    padding: 0;
  }

  @media all and (max-width: 768px) {
    .work__card-description {
    }
  }

  @media all and (max-width: 500px) {
    .work__card-description {
      margin-top: 0;
      height: auto;
    }
  }