.agency__cards {
  padding: 0 0 50px 0;
  gap: 20px;
  display: flex;

}

@media screen and (max-width: 1439px) {
  .agency__cards {
    justify-content: center;
    padding: 0 0 32px 0;
  }
}

@media screen and (max-width: 767px) {
  .agency__cards {
    flex-direction: column;
    padding: 0 0 24px 0;
    gap: 30px;
  }
}