.support__choice {
  min-width: 159px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
/* identical to box height, or 24px */
}

.support__choice:hover {
  transition-duration: 2s;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .support__choice {
    min-width: 145px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1439px) {
  .support__choice:nth-last-child(1) {
    min-width: 190px;
  }
}

@media screen and (max-width: 767px) {
  .support__choice {
    min-width: 122px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .support__choice:nth-last-child(1) {
    min-width: 260px;
  }
}