.support__button {
  min-width: 194px;
  margin-left: 225px;
  margin-bottom: 30px;
  margin-top: 23px;
}

.support__button:hover {
  transition-duration: 2s;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .support__button {
    min-width: 200px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .support__button {
    min-width: 260px;
    margin: 24px auto 32px auto;
  }
}