.support__systems {
  max-width: 594px;
  display: flex;
  column-gap: 18px;
  margin-bottom: 0;
}

@media screen and (max-width: 1439px) {
  .support__systems {
    max-width: 602px;
    column-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .support__systems {
    flex-direction: column;
    row-gap: 16px;
  }
}