.footer {
  margin: 0 auto;
  margin-bottom: 66px;
  padding: 80px 40px 84px 40px;
  max-width: 1440px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 248px 272px 28px;
  grid-template-areas:
    "footer-everland footer-menu"
    "footer-support footer-social"
    "footer-yandex .";
}

@media all and (max-width: 900px) {
  .footer {
    padding-top: 50px;
    grid-template-rows: 164px 262px 20px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    margin-bottom: 32px;
    padding-bottom: 32px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 136px 128px 195px 228px 41px;
    grid-template-areas:
      "footer-everland"
      "footer-menu"
      "footer-support"
      "footer-social"
      "footer-yandex";
      justify-items: center;
  }
}