.support__radio {
  display: flex;
  box-sizing: border-box;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.support__radio:hover {
  transition-duration: 2s;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .support__radio {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .support__radio {
    width: 122px;
  }

  .support__radio:nth-last-child(1) {
    width: 122px;
  }

}

