.stories__content {
  padding-top: 100px;
}

@media (max-width: 1439px) {
  .stories__content {
    padding-top: 36px;
  }
}

@media (max-width: 767px) {
  .stories__content {
    padding-top: 24px;
  }
}