.popup__card {
  max-width: 305px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 40px;
}

@media screen and (max-width: 1439px) and (min-width: 768px){
  .popup__card {
    max-width: 196px;
    max-height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .popup__card {
    min-width: 300px;
    max-height: 24px;
    margin-left: 10px;
    margin-top: 20px;

  }
}