.work__card {
  padding: 0 30px 0 30px;
  min-height: 428px;
  position: relative;

}

@media all and (max-width: 768px) {
  .work__card {
    min-height: 270px;
  }
}

@media all and (max-width: 500px) {
  .work__card {
    padding: 24px;
    height: 194px;
  }
}

@media all and (max-width: 380px) {
  .work__card {
    padding-bottom: 24px;
    height: auto;
    max-width: 299px;
    min-height: 250px;
  }
}