.menu {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0;
  margin: 0;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
}